<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-36logger{36} - %msg%n"/>
        </Console>
        <RollingFile
                name="ConfigServerLog"
                fileName="/root/.layline/config-server/log/config-server.log"
                filePattern="/root/.layline/config-server/log/config-server.%i.log.gz"
                ignoreExceptions="false"
        >
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-36logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConfigServerLog"/>
        </Root>
        <Logger name="ConfigServer" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConfigServerLog"/>
        </Logger>
    </Loggers>
</Configuration>