<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-50logger{50} - %msg%n"/>
        </Console>
        <RollingFile
                name="ReactiveEngineLog"
                fileName="${installer:sys.userHome}/.layline/reactive-engine/log/reactive-engine.log"
                filePattern="${installer:sys.userHome}/.layline/reactive-engine/log/reactive-engine.%i.log.gz"
                ignoreExceptions="false"
        >
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-50logger{50} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ReactiveEngineLog"/>
        </Root>
        <Logger name="Layline" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ReactiveEngineLog"/>
        </Logger>
    </Loggers>
</Configuration>